{% extends 'base.html.twig' %}

{% block title %}Audio{% endblock %}

{% block body %}
    <div class="jumbotron">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Nouvelle activité audio</h1>
    </div>
    <div class="container">
        <div class="col-12 col-md-9 col-sm-7 col-lg-6">
            {{ form_start(form_audio) }}
            {{ form_row(form_audio.audioFile, {
                'attr' : {
                    'placeholder' : "Ajouter un fichier audio (obligatoire)"
                },
                'label' : 'Fichier audio (max = 16Mo)'
            }) }}
            <button type="submit" class="btn btn-success">Créer l'activité audio</button>
            {{ form_end(form_audio) }}
        </div>
    </div>

{% endblock %}
