{% extends 'base.html.twig' %}

{% block title %}Mauvaise URL{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>URL interdite</h1>
    </div>

    <div class="container">
        <p style="size: 300px">Vous avez tapez l'URL dans la barre de navigation</p>
    </div>

{% endblock %}