{% extends 'base.html.twig' %}

{% block title %}Page de garde{% endblock %}

{% block body %}
    <div class="jumbotron">
        {% if is_granted('ROLE_PROFESSEUR') %}
            <h1>Des activités faites pour vos élèves</h1>
        {% else %}
            <h1>Des activités cool en ligne</h1>
        {% endif %}
        {% if MDPChange %}
            <div class="alert alert-success">
                Votre mot de passe a été changé. N'oubliez pas d'aller le changer dans votre page perso
            </div>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row flex">
            {% for type in activityTypes %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3" >
                    <div style="font-size: 20px" class="mb-2">{{ type.name | upper }}</div>
                    <img class="w-100" src="{{ vich_uploader_asset(type, 'imageFile') }}" alt="Image type activité">
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
