{% extends 'base.html.twig' %}

{% block title %}Page de garde{% endblock %}

{% block body %}
    <div class="jumbotron">
        {% if is_granted('ROLE_PROFESSEUR') %}
            <h1>Des activités faites pour vos élèves</h1>
        {% else %}
            <h1>Des activités cool en ligne</h1>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
            <div class="d-block d-sm-none">
                <ol>
                    <li style="font-size: 20px">QCM</li>
                    <img class="w-75" src="/images/QCM.JPG" alt="Image activité QCM">
                    <li style="font-size: 20px">Association</li>
                    <img class="w-75" src="/images/association.JPG" alt="Image activité association">
                </ol>
            </div>
            <div class="d-none d-sm-block">
                <ol>
                    <li style="font-size: 20px">QCM</li>
                    <img style="max-height: 300px; margin-bottom: 15px;" src="/images/QCM.JPG" alt="Image activité QCM">
                    <li style="font-size: 20px">Association</li>
                    <img style="max-height: 300px; margin-bottom: 15px;" src="/images/association.JPG" alt="Image activité association">
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
