{% extends 'base.html.twig' %}

{% block title %}Page de test{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Test réponses</h1>
    </div>

    <div class="container">
        {{ form_start(form) }}

        {{ form_row(form.name) }}

        <ul class="response" data-prototype="{{ form_widget(form.questionsReponses.vars.prototype) | escape }}">

        </ul>

        <button type="submit" class="btn btn-success">envoyer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/JS/questionsGroupes.js"></script>
{% endblock %}

